* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  h1 {
    color: firebrick;
    letter-spacing: 25px;
    width: 100%;
  }

  h2 {
    color: rgb(18, 39, 83);
  }

  .gamearena {
    display: flex;
    justify-content: space-around;
  }

  .gridcontainer {
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(10,20px);
    grid-template-rows: repeat(10,20px);
    border: 2px solid black;
  }
  .cell {
    width: 30px; 
    height: 30px; 
    border: 1px solid lightgray; 
    background-color: lightblue; 
  }

  /* .cell ship {

  }

  .cell hit {

  }

  .cell miss {

  }

  .cell sunk {

  } */


